/www/css/_notes/dwsync.xml
/www/css/themes/_notes/dwsync.xml
/www/css/themes/images/_notes/dwsync.xml
/www/css/themes/images/icons-png/_notes/dwsync.xml
/www/images/_notes/dwsync.xml
/www/js/jqm-inlinetabs/_notes/dwsync.xml
/www/js/jquery-mobile/_notes/dwsync.xml
/www/js/jquery-mobile/images/_notes/dwsync.xml
/www/js/zoe/_notes/dwsync.xml
/www/zoe/_notes/dwsync.xml
